body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

header {
    background-color: white;
    padding: 1%;
}

hr {
    height:1px; 
    border:2px; 
    color:rgb(133, 133, 133); 
    background-color:rgb(168, 168, 168); 
    width:50%; 
    text-align:center; 
    margin: 0 auto;
}

section {
    font-family: "Poppins", sans-serif;
    padding: 10px;
	margin: auto;
	margin-top: 10px;
	width: 50%;
}

p {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: bold;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
	margin: auto;
	/* margin-top: 20px; */
	line-height: 30px;
    width: 50%;
    color: #157DC1; 
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-weight: bold;
}

.tool {
    background: #157DC1;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    border: none;
    width: 146px;
    height: 93px;
    margin-top: 15%;
}

.log_uit {
    border: none;
    font-family: "Poppins", sans-serif;
    float: right;
    margin: 1%;
    background-color: #ffffff;
    font-size: 16px;
    color: #157DC1;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-basis: 55%;
    margin-top: 5%;
}

.nav-item {
    padding: 20px 25 px;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.nav-item-active {
    padding: 20px 25 px;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #0D7DC2;
}

.nav-item a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-item-active a {
    font-size: 20px;
    text-decoration: none;
    color: #0D7DC2;
}

/* .line {
    border: 2px solid white;
    width: 922px;
} */

.progressbar {
    width: 100%;
    height: 25px;
    color: #0D7DC2;
    /* margin-top: 1%; */
}

input {
    background-color: white;
    color: #2F4F4F;
    border: none;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 10px;
}

textarea {
    background-color: white;
    resize: none;
    border: none;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    padding: 5px;
    width: 75%;
    margin-bottom: 10px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #0D7DC2;
    /* padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px; */
    border: 1px solid #0D7DC2;
}

i {
    color: #0D7DC2;
}

.btn-back {
    font-family: "Poppins", sans-serif;
    border: none;
    background-color: #F4F4F4;
    color: black;
    position: relative;
    left: 43%;
    font-size: 16px;
}

.btn-next {
    font-family: "Poppins", sans-serif;
    background: #FFFFFF;
    border: 1px solid #157DC1;
    box-sizing: border-box;
    border-radius: 4px;
    color: black;
    position: relative;
    left: 45%;
    font-size: 16px;
}